In [4]:
import pandas as pd
import numpy as np

In [5]:
toronto_raw = pd.read_html("https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=945633050.")

In [6]:
type(toronto_raw)

list

In [7]:
toronto_raw[0:1]

[    Postcode           Borough  \
 0        M1A      Not assigned
 1        M2A      Not assigned
 2        M3A        North York
 3        M4A        North York
 4        M5A  Downtown Toronto
 5        M6A        North York
 6        M6A        North York
 7        M7A  Downtown Toronto
 8        M8A      Not assigned
 9        M9A         Etobicoke
 10       M1B       Scarborough
 11       M1B       Scarborough
 12       M2B      Not assigned
 13       M3B        North York
 14       M4B         East York
 15       M4B         East York
 16       M5B  Downtown Toronto
 17       M5B  Downtown Toronto
 18       M6B        North York
 19       M7B      Not assigned
 20       M8B      Not assigned
 21       M9B         Etobicoke
 22       M9B         Etobicoke
 23       M9B         Etobicoke
 24       M9B         Etobicoke
 25       M9B         Etobicoke
 26       M1C       Scarborough
 27       M1C       Scarborough
 28       M1C       Scarborough
 29       M2C      Not assigned
 ..       ...               ...
 257      M9X      Not assigned
 258      M1Y      Not assigned
 259      M2Y      Not assigned
 260      M3Y      Not assigned
 261      M4Y  Downtown Toronto
 262      M5Y      Not assigned
 263      M6Y      Not assigned
 264      M7Y      East Toronto
 265      M8Y         Etobicoke
 266      M8Y         Etobicoke
 267      M8Y         Etobicoke
 268      M8Y         Etobicoke
 269      M8Y         Etobicoke
 270      M8Y         Etobicoke
 271      M8Y         Etobicoke
 272      M8Y         Etobicoke
 273      M9Y      Not assigned
 274      M1Z      Not assigned
 275      M2Z      Not assigned
 276      M3Z      Not assigned
 277      M4Z      Not assigned
 278      M5Z      Not assigned
 279      M6Z      Not assigned
 280      M7Z      Not assigned
 281      M8Z         Etobicoke
 282      M8Z         Etobicoke
 283      M8Z         Etobicoke
 284      M8Z         Etobicoke
 285      M8Z         Etobicoke
 286      M9Z      Not assigned

                                          Neighbourhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                                         Harbourfront
 5                                     Lawrence Heights
 6                                       Lawrence Manor
 7                                         Queen's Park
 8                                         Not assigned
 9                                     Islington Avenue
 10                                               Rouge
 11                                             Malvern
 12                                        Not assigned
 13                                     Don Mills North
 14                                    Woodbine Gardens
 15                                       Parkview Hill
 16                                             Ryerson
 17                                     Garden District
 18                                           Glencairn
 19                                        Not assigned
 20                                        Not assigned
 21                                          Cloverdale
 22                                           Islington
 23                                        Martin Grove
 24                                    Princess Gardens
 25                                     West Deane Park
 26                                      Highland Creek
 27                                          Rouge Hill
 28                                          Port Union
 29                                        Not assigned
 ..                                                 ...
 257                                       Not assigned
 258                                       Not assigned
 259                                       Not assigned
 260                                       Not assigned
 261                               Church and Wellesley
 262                                       Not assigned
 263                                       Not assigned
 264  Business Reply Mail Processing Centre 969 Eastern
 265                                         Humber Bay
 266                                   King's Mill Park
 267                           Kingsway Park South East
 268                                          Mimico NE
 269                                     Old Mill South
 270                                 The Queensway East
 271                              Royal York South East
 272                                           Sunnylea
 273                                       Not assigned
 274                                       Not assigned
 275                                       Not assigned
 276                                       Not assigned
 277                                       Not assigned
 278                                       Not assigned
 279                                       Not assigned
 280                                       Not assigned
 281                           Kingsway Park South West
 282                                          Mimico NW
 283                                 The Queensway West
 284                              Royal York South West
 285                                     South of Bloor
 286                                       Not assigned

 [287 rows x 3 columns]]

In [8]:
toronto = pd.DataFrame(toronto_raw[0])

In [9]:
toronto.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [10]:
toronto.shape

(287, 3)

In [11]:
toronto["Borough"].unique()

array(['Not assigned', 'North York', 'Downtown Toronto', 'Etobicoke',
       'Scarborough', 'East York', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

In [12]:
toronto = toronto[toronto["Borough"] != "Not assigned"]

In [13]:
toronto[0:10]

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A         Etobicoke  Islington Avenue
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [14]:
toronto["Neighbourhood"][toronto["Neighbourhood"] == "Not assigned"] = toronto["Borough"]

In [15]:
toronto[0:10]

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A         Etobicoke  Islington Avenue
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [16]:
len(toronto["Neighbourhood"][toronto["Neighbourhood"] == "Not assigned"])

0

In [17]:
toronto = pd.DataFrame(
    toronto.groupby(["Postcode", "Borough"])["Neighbourhood"].apply(lambda hoods: ", ".join(hoods)))

In [18]:
toronto.reset_index(inplace=True)

In [19]:
toronto.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [20]:
toronto.shape

(103, 3)

In [21]:

import geocoder 

initialize your variable to None
lat_lng_coords = None

loop until you get the coordinates
while(lat_lng_coords is None):
   g = geocoder.google('{}, Toronto, Ontario'.format("M5G"))
   lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

SyntaxError: invalid syntax (<ipython-input-21-4dec5b48a139>, line 4)

In [22]:
import urllib.request
urllib.request.urlretrieve("http://cocl.us/Geospatial_data", "location_data.csv")

('location_data.csv', <http.client.HTTPMessage at 0x7f6cdcdfb438>)

In [23]:
location_data = pd.read_csv("location_data.csv")

In [24]:
location_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [25]:
toronto = toronto.merge(location_data, left_on="Postcode", right_on="Postal Code", how="left")

In [26]:
toronto.head()

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

In [27]:
toronto.shape

(103, 6)

In [28]:
toronto.drop(["Postal Code"], axis=1, inplace=True)

In [29]:
toronto.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [30]:
toronto.rename(columns={"Postcode": "PostalCode"}, inplace=True)

In [33]:
toronto.head(12
        )

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849